<div *ngIf="showAdmin" class="container-fluid">
  <h3>Currently people</h3>
  <div class="row">
    <div class="col-3" *ngFor="let user of users">
      <div class="card mb-2" style="width: 18rem;">
        <img src="http://facebookfplus.com/upload/images/600_97d118b7a6f8f87d18f7b1385ea7665e.png" class="card-img-top">
        <div class="card-body">
          <p class="card-title"><b>Name:</b> {{user.name | uppercase}}</p>
          <p *ngIf="user.role==1" class="card-text"><b>Role:</b> Admin</p>
          <p *ngIf="user.role==0" class="card-text"><b>Role:</b> Customer</p>
          <a [routerLink]="['/chat', user.name]" class="btn btn-primary mr-2">Chat Support</a>
          <a href="#" class="btn btn-primary">Call Support</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showUsers"  class="container-fluid">
  <h3>Currently people</h3>
  <div class="row">
    <div class="col-3" *ngFor="let admin of admins">
      <div class="card mb-2" style="width: 18rem;">
        <img src="http://facebookfplus.com/upload/images/600_97d118b7a6f8f87d18f7b1385ea7665e.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-title"><b>Name:</b> {{admin.name | uppercase}}</p>
          <p *ngIf="admin.role===1" class="card-text"><b>Role:</b> Admin</p>
          <a [routerLink]="['/chat', admin.name]" class="btn btn-primary mr-2">Chat Support</a>
          <a href="#" class="btn btn-primary">Call Support</a>

        </div>
      </div>
    </div>
  </div>
</div>
