<div class="container p-5">
  <div class="row">
    <div class="card col-12 text-center">
      <div class="container-fluid p-2">
        <img class="rounded-circle" src={{photoUrl}} style="width:300px;" alt="">
        <p> <b>Name:</b> {{user.name}}</p>
        <p> <b>Email:</b> {{user.email}}</p>
        <p> <b>User Id:</b> {{user._id}}</p>
        <p> <b>Mobile Number:</b> {{user.mobile}}</p>
        <button class="btn btn-primary" (click)="ChatPage()">Support Page</button>
      </div>
    </div>
  </div>
</div>
